TELEGRAM_TOKEN=your_botfather_token
RAPIDAPI_KEY=your_rapidapi_key
RAPIDAPI_HOST=chatgpt-42.p.rapidapi.com
RAPIDAPI_URL=https://chatgpt-42.p.rapidapi.com/gpt4
BOT_USERNAME=asktonbot
TONAPI_KEY=your_tonapi_key
